@page
@model YemekhaneStokTakipV2.Pages.UrunPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Urun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Urun.UrunId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Urun.UrunAdi" class="control-label"></label>
                <input asp-for="Urun.UrunAdi" class="form-control" aria-required="true"/>
                <span asp-validation-for="Urun.UrunAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.KategoriId" class="control-label"></label>
                <input asp-for="Urun.KategoriId" class="form-control" />
                <span asp-validation-for="Urun.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.Birim" class="control-label"></label>
                <input asp-for="Urun.Birim" class="form-control" />
                <span asp-validation-for="Urun.Birim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.MevcutStok" class="control-label"></label>
                <input asp-for="Urun.MevcutStok" class="form-control" />
                <span asp-validation-for="Urun.MevcutStok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.KritikStok" class="control-label"></label>
                <input asp-for="Urun.KritikStok" class="form-control" />
                <span asp-validation-for="Urun.KritikStok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urun.Kategori" class="control-label"></label>
                <input asp-for="Urun.Kategori" class="form-control" />
                <span asp-validation-for="Urun.Kategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
